{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block accueil %}{% endblock %}
{% block header %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block container %}
    <div class="logSquare">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                   Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
            <div class="form-outline mb-4">
                <label class="form-label" for="inputLogin">Identifiant</label>
                <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control"
                       autocomplete="username" required autofocus>
            </div>
            <div class="form-outline mb-4">
                <label class="libelle" for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">
            <div class="form-outline mb-4">
                <button class="btn" type="submit">Connexion</button>
            </div>

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}
        </form>
    </div>
{% endblock %}
