{% extends 'accueil.html.twig' %}
{% block title %}Liste Matière{% endblock %}
{% block stylesheets %}
    {{ parent() }}
œ    {{ encore_entry_link_tags('table') }}
{% endblock %}
{% block container %}
    <div class="card">
        <div class="card-body">
        <a href="{{ path('subject_create') }}" class="btn btn-primary">Ajouter une matière</a>
        <table class="table table-hover"
               data-toggle="table"
               data-sortable="true"
               data-search="true">
            <thead>
                <tr>
                    <th scope="col" data-sortable="true">Nom de la matière</th>
                    <th scope="col" data-sortable="true">Niveaux</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for isTaught in areTaught %}
                <tr>
                    {% if isTaught.subject.name is null %}
                        <td></td>
                    {% else %}
                        <td><a href="{{ path('subject_view', {'id': isTaught.id}) }}">{{ isTaught.subject.name }}</a></td>
                    {% endif %}
                    {% if isTaught.schoolLevel is null %}
                        <td></td>
                    {% else %}
                        <td>{{ isTaught.schoolLevel }}</td>
                    {% endif %}
                    {% if is_granted('ROLE_SCOLARITE') %}
                        <td><a class="btn btn-delete" href="{{ path('subject_delete', {'id': isTaught.id, 'route': app.request.attributes.get('_route')}) }}">Supprimer</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
            {% include 'pagination.html.twig'%}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let tbody = document.querySelector('tbody')
            tbody.querySelectorAll('tr').forEach(row => {
                row.querySelectorAll('td').forEach(td => {
                    if(td.classList.contains('isFac') && td.textContent === "Oui") {
                        td.parentElement.classList.add('table-info')
                    }
                })
            })
        })
    </script>
{% endblock %}