{% extends 'base.html.twig' %}
{% block title %}ViewProfile{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table') }}
{% endblock %}
{% block container %}
        <div class="card">
            <div class="card-title">
                {% if className is defined %}
                    <p>
                        Classe de {{ className }}
                    </p>
                {% endif %}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-auto align-content-start">
                        <h6 class="fw-bold p-1" style="background-color: #d1e7dd">Activé - le profil est utilisable</h6>
                        <h6 class="fw-bold p-1" style="background-color: #fff3cd">Désactivé - le propriétaire ne peut plus se connecter au profil</h6>
                    </div>
                </div>
                {% set route = app.request.attributes.get('_route') %}
                {% if 'teacher_view_all' == route %}
                    <a class="btn btn-primary" href="{{ path('teacher_add') }}">Ajouter</a>
                {% endif %}
                {% if 'staff_view_all_documentation' in route %}
                    <a class="btn btn-primary" href="{{ path('staff_add_documentation') }}">Ajouter</a>
                {% endif %}
                {% if 'staff_view_all_scolarite' in route %}
                    <a class="btn btn-primary" href="{{ path('staff_add_scolarite') }}">Ajouter</a>
                {% endif %}
                {% if 'student_view_all' in route and is_granted('ROLE_SCOLARITE') %}
                    <a class="btn btn-primary" href="{{ path('student_scolarite_register') }}">Inscrire</a>
                {% endif %}
                {% if 'legal-responsible_view_all' in route and is_granted('ROLE_SCOLARITE') %}
                    <a class="btn btn-primary" href="{{ path('legal_responsible_add') }}">Ajouter</a>
                {% endif %}
                <table  class="table
                               table-hover"
                        data-toggle="table"
                        data-sortable="true"
                        data-search="true">
                    <thead>
                    <tr>
                        <th scope="col" id="th-ine" data-visible="false" data-sortable="true">INE</th>
                        <th scope="col" data-sortable="true">Nom</th>
                        <th scope="col" data-sortable="true">Prénom</th>
                        <th scope="col">Mail</th>
                        <th scope="col">Téléphone</th>
                        {% if 'teacher_view_all' == route %}
                            <th scope="col">
                                Matière
                            </th>
                        {% endif %}
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr data-isdeactivated="{{ user.disabled }}">
                            {% if not isStudent(user) %}
                                <td></td>
                            {% else %}
                                <td class="col-ine">{{ user.ine }}</td>
                            {% endif %}
                            {% if user.name is null %}
                                <td></td>
                            {% else %}
                                <td><a href="{{ path('user_view_profile', {'login': user.login}) }}">{{ user.name }}</a></td>
                            {% endif %}
                            {% if user.firstname is null %}
                                <td></td>
                            {% else %}
                                <td>{{ user.firstname }}</td>
                            {% endif %}
                            {% if user.email is null %}
                                <td>non renseigné</td>
                            {% else %}
                                <td>{{ user.email }}</td>
                            {% endif %}
                            {% if user.telephone is null %}
                                <td>non renseigné</td>
                            {% else %}
                                <td>{{ user.telephone }}</td>
                            {% endif %}
                            {% if is_granted('ROLE_SCOLARITE') and isStudent(user) %}
                                <td>
                                    <a type="button" class="btn btn-primary" href="{{ path('student_scolarite_re-register', {'idStudent': user.id}) }}">Réinscrire</a>
                                </td>
                                <td>
                                    <a type="button" class="btn btn-primary" href="{{ path('student_scolarite_modifications', {'idStudent': user.id, 'route': app.request.attributes.get('_route') }) }}">Modifier</a>
                                </td>
                                {% if user.disabled %}
                                    <td><a type="button" class="btn btn-primary" onclick="return confirm('Voulez vous vraiment activer ce compte ?')" href="{{ path('student_enable', {'id': user.id}) }}">Activer</a></td>
                                {% else %}
                                    <td><a type="button" class="btn btn-delete" onclick="return confirm('Voulez vous vraiment désactiver ce compte ?')" href="{{ path('student_disable', {'id': user.id}) }}">Désactiver</a></td>
                                {% endif %}
                            {% endif %}
                            {% if is_granted('ROLE_SCOLARITE') and isLegalRespoonsible(user) %}
                                <td><a type="button" class="btn btn-primary" href="{{ path('legal_responsible_scolarite_modifications', {'idLegalResponsible': user.id, 'route': app.request.attributes.get('_route')}) }}">Modifier</a></td>
                                {% if user.disabled %}
                                    <td><a type="button" class="btn btn-primary" onclick="return confirm('Voulez vous vraiment activer ce compte ?')" href="{{ path('legal_responsible_enable', {'id': user.id}) }}">Activer</a></td>
                                {% else %}
                                    <td><a type="button" class="btn btn-delete" onclick="return confirm('Voulez vous vraiment désactiver ce compte ?')" href="{{ path('legal_responsible_disable', {'id': user.id}) }}">Désactiver</a></td>
                                {% endif %}
                            {% endif %}
                            {% if is_granted('ROLE_RH') %}
                                {% if isTeacher(user) %}
                                    {% if 'teacher_view_all' == route %}
                                        {% for contract in teachingContracts %}
                                            {% if contract.teacher.id == user.id %}
                                                <td>
                                                    {{ contract.subject.name }}
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <td>
                                        <a type="button" class="btn btn-primary" href="{{ path('teacher_renew_contract', {'teacherId': user.id}) }}">Renouveler le contrat</a>
                                    </td>
                                {% endif %}
                                {% if user.disabled %}
                                    <td>
                                        <a type="button" class="btn btn-primary" onclick="return confirm('Voulez vous vraiment activer ce compte ?')" href="{{ path('user_enable', {'login': user.login, 'route': app.current_route}) }}">Activer</a>
                                    </td>
                                {% else %}
                                    <td>
                                        <a type="button" class="btn btn-delete" onclick="return confirm('Voulez vous vraiment désactiver ce compte ?')" href="{{ path('user_disable', {'login': user.login, 'route': app.current_route}) }}">Désactiver</a>
                                    </td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include 'pagination.html.twig'%}
        </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function (){
            let elements = document.querySelectorAll('.col-ine')
            if(elements.length > 0) {
                document.getElementById('th-ine').dataset.visible = "true";
            }
            let tbody = document.querySelector('tbody')
            let trs = tbody.querySelectorAll('tr');
            trs.forEach(tr => {
                if(tr.dataset.isdeactivated === "1") {
                    tr.classList.add('table-warning')
                }
                else {
                    tr.classList.add('table-success')
                }
            })
        })
    </script>
{% endblock %}