{% block stylesheets %}
    {{ encore_entry_link_tags('form') }}
{% endblock %}
{% block form %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_errors(form.teacher) }}
    {% block form_body %}
        <div class="form-container">
            {#  <div class="row form-row">
                <div class="col-sm-3">
                     % if form.login is defined %}
                        {{ form_label(form.login) }}
                        {{ form_widget(form.login, { 'attr': {'class': 'form-control'}}) }}
                    {% endif %}

                </div>
                <div class="col-sm-3">
                    {% if form.password is defined %}
                        {{ form_label(form.password) }}
                        {{ form_widget(form.password, { 'attr': {'class': 'form-control'}}) }}
                    {% endif %}
                </div>
            </div> #}
            <div class="row form-row">
                <div class="col-sm-3">
                    {% if form.teacher.name is defined %}
                        <label class="lib">{{ form_label(form.teacher.name) }}</label>
                        {{ form_widget(form.teacher.name, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.teacher.name, { 'attr': {'class': 'form-control'}}) }}
                    {% endif %}
                </div>
                <div class="col-sm-3">
                    {% if form.teacher.firstname is defined %}
                        <label class="lib">{{ form_label(form.teacher.firstname) }}</label>
                        {{ form_widget(form.teacher.firstname, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.teacher.firstname, { 'attr': {'class': 'form-control'}}) }}
                    {% endif %}
                </div>
                <div class="col-sm-3">
                    {% if form.teacher.email is defined %}
                        <label class="lib">{{ form_label(form.teacher.email) }}</label>
                        {{ form_widget(form.teacher.email, { 'attr': {'class': 'form-control'}})}}
                        {{ form_errors(form.teacher.email, { 'attr': {'class': 'form-control'}})}}
                    {% endif %}
                </div>
                <div class="col-sm-3">
                    {% if form.teacher.telephone is defined %}
                        <label class="lib">{{ form_label(form.teacher.telephone) }}</label>
                        {{ form_widget(form.teacher.telephone, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.teacher.telephone) }}
                    {% endif %}
                </div>
            </div>
            {% if form.teacher.address is defined %}
                <div class="row form-row">
                    <div class="col-sm-3">
                        <h3 class="lib">Adresse :</h3>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-sm-3">
                        <label class="lib">{{ form_label(form.teacher.address.streetNumber) }}</label>
                        {{ form_widget(form.teacher.address.streetNumber, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.teacher.address.streetNumber, { 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-3">
                        <label class="lib">{{ form_label(form.teacher.address.streetName) }}</label>
                        {{ form_widget(form.teacher.address.streetName, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.teacher.address.streetName, { 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-3">
                        <label class="lib">{{ form_label(form.teacher.address.postalcode) }}</label>
                        {{ form_widget(form.teacher.address.postalcode, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.teacher.address.postalcode, { 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-3">
                        <label class="lib">{{ form_label(form.teacher.address.town) }}</label>
                        {{ form_widget(form.teacher.address.town, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.teacher.address.town, { 'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-sm-3">
                        <label class="lib">{{ form_label(form.teacher.address.flatNumber) }}</label>
                        {{ form_widget(form.teacher.address.flatNumber, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.teacher.address.flatNumber, { 'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endblock %}
    {% block form_send %}
        <div>
            {{ form_widget(form.send, {'attr':{ 'class': 'btn btn-add'}}) }}
        </div>
    {% endblock %}
    {{ form_end(form) }}
{% endblock %}