{% extends 'forms/TeachingContractForm/formTeachingContract.html.twig' %}

{% block form_body %}
    <div class="form-container">
        <div class="row form-row">
            <div class="col-sm-3">
                {% if form.subject is defined %}
                    <label class="lib">{{ form_label(form.subject) }}</label>
                    {{ form_widget(form.subject, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.subject) }}
                {% endif %}
            </div>
            <div class="col-sm-3">
                {% if form.schoolclasses is defined %}
                    <label class="lib">{{ form_label(form.schoolclasses) }}</label>
                    {{ form_widget(form.schoolclasses, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.schoolclasses) }}
                {% endif %}
            </div>
        </div>
    </div>
    {{ parent() }}
{% endblock %}