{% extends 'base.html.twig' %}
{% block title %}ViewProfile{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table') }}
{% endblock %}
{% block acceuil %}
    {{ parent() }}
{% endblock %}
{% block container %}
    <div class="card">
        <div class="card-body">
            {% set url = app.request.attributes.get('_route') %}
            {% if 'equipment_view_all' in url and is_granted('ROLE_DOCUMENTATION') %}
                <a class="btn btn-primary" href="{{ path('equipment_add') }}">Ajouter du matériel</a>
            {% endif %}
            <table class="table table-hover"
                   data-toggle="table"
                   data-search="true"
                   data-sortable="true">
                <thead>
                <tr>
                    <th scope="col" data-visible="false">id</th>
                    <th scope="col" data-sortable="true">Titre</th>
                    <th scope="col" data-sortable="true">Type de matériel</th>
                    <th scope="col" data-sortable="true">Auteur</th>
                    <th scope="col" data-sortable="true">Coût</th>
                    <th scope="col" data-sortable="true">Réutilisable</th>
                    <th scope="col" data-sortable="true">Année de sortie</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for equipment in equipments %}
                    <tr>
                        {% if equipment.id is null %}
                            <td></td>
                        {% else %}
                            <td>{{ equipment.id }}</td>
                        {% endif %}
                        {% if equipment.title is null %}
                            <td></td>
                        {% else %}
                            <td><a href="{{ path('equipment_view_profile', {'id': equipment.id}) }}">{{ equipment.title }}</a></td>
                        {% endif %}
                        {% if equipment.type is null %}
                            <td></td>
                        {% else %}
                            <td>{{ equipment.type.type }}</td>
                        {% endif %}
                        {% if equipment.author is null %}
                            <td></td>
                        {% else %}
                            <td>{{ equipment.author }}</td>
                        {% endif %}
                        {% if equipment.cost is null %}
                            <td>0</td>
                        {% else %}
                            <td>{{ equipment.cost }}</td>
                        {% endif %}
                        {% if equipment.reusable == false %}
                            <td>non</td>
                        {% else %}
                            <td>oui</td>
                        {% endif %}
{#                        {% if equipment.statement is null %}#}
{#                            <td></td>#}
{#                        {% else %}#}
{#                            <td>{{ equipment.statement.state }}</td>#}
{#                        {% endif %}#}
                        {% if equipment.yearOfPublication is null %}
                            <td>non renseigné</td>
                        {% else %}
                            <td>{{ equipment.yearOfPublication }}</td>
                        {% endif %}
                        <td><a type="button" class="btn btn-delete"  onclick="return confirm('Voulez vous vraiment supprimer definitivement ce materiel ?') " href="{{ path('equipment_delete', {'id': equipment.id}) }}">supprimer</a></td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'pagination.html.twig'%}
        </div>
    </div>
{% endblock %}