{% extends 'base.html.twig' %}
{% block title %}ViewProfile{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table') }}
{% endblock %}
{% block container %}
    <div class="card">
        <div class="card-body">
            <form>
                <div class="profile-container">
                    <a type="button" class="btn btn-primary" href="{{ path('equipment_edit', {'id': equipment.id, 'route': app.request.attributes.get('_route')}) }}">modifier</a>
                    <div class="row row-profile">
                        <div class="form-group col-sm-3">
                            <label class="lib" for="input-title">Titre</label>
                            <input class="form-control answer" id="input-title" value="{{ equipment.title }}" placeholder="Titre" disabled>
                        </div>
                        <div class="form-group col-sm-3">
                            <label class="lib" for="input-author">Autheur</label>
                            <input class="form-control answer" id="input-author" value="{{ equipment.author }}" placeholder="Auteur" disabled>
                        </div>
                    </div>
                    <div class="row row-profile">
                        <div class="form-group col-sm-3">
                            <label class="lib" for="input-cost">Prix</label>
                            <input class="form-control answer" id="input-cost" value="{{ equipment.cost }}" placeholder="0" disabled>
                        </div>
                    </div>
                    <div class="row row-profile">
                        <div class="form-group col-sm-3">
                            <label class="lib" for="input-date">Année de sortie</label>
                            <input class="form-control answer" id="input-date" value="{{ equipment.yearOfPublication }}" disabled>
                        </div>
                    </div>
                    <div class="row row-profile">
                        <div class="form-group col-sm-3">
                            <label class="lib" for="input-type">Type de matériel</label>
                            <input class="form-control answer" id="input-type" value="{{ equipment.type.type }}" placeholder="manuel" disabled>
                        </div>
                    </div>
                    <div class="row row-profile">
                        <div class="form-group col-sm-3">
                            <label class="lib" for="input-reusable">Réutilisable</label>
                            {% if equipment.reusable() %}
                                <input class="form-control answer" id="input-reusable" value="oui" disabled>
                            {% else %}
                                <input class="form-control answer" id="input-reusable" value="non" disabled>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}