{% extends 'base.html.twig' %}

{% block container %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}

                    {{ form_label(form.NbDisciplineFacMax) }}
                    {{ form_widget(form.NbDisciplineFacMax) }}
                    {{ form_errors(form.NbDisciplineFacMax, { 'attr': {'class': 'form-control'}}) }}

                    {{ form_label(form.send) }}
                    {{ form_widget(form.send, {'attr':{ 'class': 'btn btn-primary'}}) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
