{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table') }}
{% endblock %}

{% block container %}
    <div class="card">
        <div class="card-body">
            {% if is_granted("ROLE_SCOLARITE") %}
                <a class="btn btn-primary" type="button" href="{{ path('school_level_add') }}">Ajouter un Niveau Scolaire</a>
            {% endif %}
            <table class="table table-hover"
                   data-toggle="table"
                   data-sortable="true"
                   data-search="true">
                <thead>
                    <tr>
                        <th scope="col" data-sortable="true">Name</th>
                        <th scope="col" data-sortable="true">Nombre de discipline facultative choisissable Maximum</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for level in levels %}
                    <tr>
                        <td>
                            {{ level.name }}
                        </td>
                        <td>
                            {{ level.nbDisciplineFacMax }}
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('school_level_edit', {'schoolLevelId': level.id, 'route': app.request.attributes.get('_route')}) }}">Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
