{% extends 'base.html.twig' %}

{% block container %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col">
                    {{ form_label(form.maxRegistrations) }}
                    {{ form_widget(form.maxRegistrations) }}
                </div>
                <div class="col-3">
                    {{ form_label(form.schoolLevel) }}
                    {{ form_widget(form.schoolLevel) }}
                </div>
                <div class="col">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
            </div>
            {{ form_widget(form.send, {'attr':{'class': 'btn btn-primary'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
