{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table') }}
{% endblock %}

{% block container %}
<div class="card">
    <div class="card-body">
    {% if is_granted("ROLE_SCOLARITE") %}
        <a type="button" href="{{ path('school_class_add') }}" class="btn btn-primary">Ajouter une classe</a>
    {% endif %}
        <table class="table table-hover"
               data-toggle="table"
               data-search="true">
            <thead>
            <tr>
                <th scope="col" data-sortable="true">Nom</th>
                <th scope="col" data-sortable="true">Niveau</th>
                <th scope="col" data-sortable="true">Nombre d'élèves</th>
                <th scope="col" data-sortable="true">Maximum</th>
            </tr>
            </thead>
            <tbody>
            {% for classe in classes %}
                <tr>
                    <td>
                        {% if is_granted('ROLE_STAFF') %}
                            <a href="{{ path('school_class_show', {'classId': classe.id }) }}">
                                {{ classe.name }}
                            </a>
                        {% endif %}
{#                        {% if is_granted('ROLE_TEACHER') %}#}
{#                            <a href="{{ path('school_class_show_student', {'classId': classe.id }) }}">#}
{#                                {{ classe.name }}#}
{#                            </a>#}
{#                        {% endif %}#}
{#                        {% if is_granted('ROLE_DOCUMENTATION') %}#}
{#                            <a href="{{ path('school_class_show_student', {'classId': classe.id }) }}">#}
{#                                {{ classe.name }}#}
{#                            </a>#}
{#                        {% endif %}#}
                    </td>
                    <td>{{ classe.schoollevel}}</td>
{#                    <td><a href="{{ path('school_class_edit', {'classId': classe.id }) }}">{{ classe.name }}</a></td>#}
                    <td>{{ classe.registrations | length }}</td>
                    <td>{{ classe.maxRegistrations }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% include 'pagination.html.twig'%}
    </div>
</div>
{% endblock %}
