{% extends 'base.html.twig' %}
{% block title %}ViewProfile{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table') }}
{% endblock %}
{% block container %}
    <div class="card">
    <div class="card-body">
    <form>
        <div class="profile-container">
            {% if is_granted('ROLE_SCOLARITE')%}
                <td>
                    <a type="button" class="btn btn-primary" href="{{ path('school_class_edit', {'classId': class.id, 'route': app.request.attributes.get('_route')}) }}">Modifier</a>
                </td>
            {% endif %}
            <div class="row row-profile">
                <div class="form-group col-sm-3">
                    <label class="lib" for="input-id">ID</label>
                    <input class="form-control answer" id="input-id" value="{{ class.id }}" placeholder="Id"
                           disabled>
                </div>
                <div class="form-group col-sm-3">
                    <label class="lib" for="input-name">Nom de la classe</label>
                    <input class="form-control answer" id="input-name" value="{{ class.name }}" placeholder="Nom" disabled>
                </div>
                <div class="form-group col-sm-3">
                    <label class="lib" for="input-facultatif">Etudiants</label>
                    <ul>
                        {% for student in students %}
                            <li>
                                {% if is_granted('ROLE_STAFF') and not is_granted('ROLE_RH') %}
                                    <a href="{{ path('user_view_profile', {'login': student.login}) }}">
                                        {{ student.firstname }}
                                        {{ student.name }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="form-group col-sm-3">
                    <label class="lib" for="input-facultatif">Professeurs</label>
                    <ul>
                        {% for contract in contracts %}
                            <li>
                                <a href="{{ path('user_view_profile', {'login': contract.teacher.login}) }}">
                                    {{ contract.teacher.firstname }}
                                    {{  contract.teacher.name }}
                                </a>
                                {{ contract.subject.name }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </form>
    </div>
    </div>
{% endblock %}