{% block form %}
    {{ form_start(form) }}
{#    {{ form_errors(form) }}#}
    <div class="card">
        <div class="card-body">
            <div class="form-container">
                {% block form_body %}
                    <div class="row form-row">
                        <div class="col-sm-4">
                            <label class="lib">{{ form_label(form.title) }}</label>
                            {{ form_widget(form.title, { 'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.title, { 'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-sm-4">
                            <label class="lib">{{ form_label(form.isbn) }}</label>
                            {{ form_widget(form.isbn, { 'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.isbn, { 'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">
                            <label class="lib">{{ form_label(form.author) }}</label>
                            {{ form_widget(form.author, { 'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.author, { 'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-sm">
                            <label class="lib">{{ form_label(form.reusable) }}</label>
                            {{ form_widget(form.reusable) }}
                            {{ form_errors(form.reusable) }}
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-sm-4">
                            <label class="lib">{{ form_label(form.cost) }}</label>
                            {{ form_widget(form.cost, { 'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.cost, { 'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-sm-4">
                            <label class="lib">{{ form_label(form.yearOfPublication) }}</label>
                            {{ form_widget(form.yearOfPublication) }}
                            {{ form_errors(form.yearOfPublication) }}
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-sm-4">
                            <label class="lib">{{ form_label(form.type) }}</label>
                            {{ form_widget(form.type, { 'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.type, { 'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                {% endblock %}
                {% block form_send %}
                    <div>
                        {{ form_widget(form.send, {'attr':{ 'class': 'btn btn-primary'}}) }}
                    </div>
                {% endblock %}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


