{% block form %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="card">
        <div class="card-body">
            <div class="form-container">
                {% block form_body %}
                    <div class="row form-row">
                        <div class="col-sm-3">
                            <label class="lib">{{ form_label(form.type) }}</label>
                            {{ form_widget(form.type,{'attr': {'class': "form-control"}}) }}
                            {{ form_errors(form.type,{'attr': {'class': "form-control"}}) }}
                        </div>
                    </div>
                {% endblock %}
                {% block form_send %}
                    <div>
                        {{ form_widget(form.send, {'attr':{ 'class': 'btn btn-primary'}}) }}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}