{% block form %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {% block form_body %}
                <div class="row">
                    <div class="col-sm lib">
                        {{ form_label(form.password) }}
                        {{ form_widget(form.password) }}
                        {{ form_errors(form.password) }}
                    </div>
                    <div class="col-sm lib">
                        {{ form_label(form.newPassword) }}
                        {{ form_widget(form.newPassword) }}
                        {{ form_errors(form.newPassword) }}
                    </div>
                    <div class="col-sm lib">
                        {{ form_label(form.newPassword2) }}
                        {{ form_widget(form.newPassword2) }}
                        {{ form_errors(form.newPassword2) }}
                    </div>
                </div>
            {% endblock %}
            {% block form_send %}
                <div class="row">
                    <div class="col mt-5">
                        {{ form_widget(form.send, {'attr':{ 'class': 'btn btn-primary'}}) }}
                    </div>
                </div>
            {% endblock %}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


