{% block form %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {% block form_body %}
                <div class="row">
                    <div class="col-sm-3 lib">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>

                    <div class="col-sm-3 lib">
                        {{ form_label(form.equipments) }}
                        {{ form_widget(form.equipments) }}
                        {{ form_errors(form.equipments) }}
                    </div>
                </div>
            {% endblock %}
            {% block form_send %}
                <div class="row">
                    <div class="col mt-5">
                        {{ form_widget(form.send, {'attr':{ 'class': 'btn btn-primary'}}) }}
                    </div>
                </div>
            {% endblock %}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
