{% block form %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Choissisez niveau scolaire</h4>
            <div class="row">
                <div class="col-sm-auto">
                    <label class="lib">{{ form_label(form.schoolLevel) }}</label>
                    {{ form_widget(form.schoolLevel, { 'attr': {'class': 'form-control'}}) }}
                    {{ form_widget(form.send, {'attr':{ 'class': 'btn btn-primary mt-3'}}) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

