{% extends 'forms/formUser.html.twig' %}
{% block form %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="card">
        <div class="card-body">
            <div class="form-container">
                {% block form_body %}
                    <div class="row form-row">
                        <div class="col-sm-3">
                            {% if form.legalresponsible.name is defined %}
                                <label class="lib">{{ form_label(form.legalresponsible.name) }}</label>
                                {{ form_widget(form.legalresponsible.name, { 'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.legalresponsible.name, { 'attr': {'class': 'form-control'}}) }}
                            {% endif %}
                        </div>
                        <div class="col-sm-3">
                            {% if form.legalresponsible.firstname is defined %}
                                <label class="lib">{{ form_label(form.legalresponsible.firstname) }}</label>
                                {{ form_widget(form.legalresponsible.firstname, { 'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.legalresponsible.firstname, { 'attr': {'class': 'form-control'}}) }}
                            {% endif %}
                        </div>
                        <div class="col-sm-3">
                            {% if form.legalresponsible.email is defined %}
                                <label class="lib">{{ form_label(form.legalresponsible.email) }}</label>
                                {{ form_widget(form.legalresponsible.email, { 'attr': {'class': 'form-control'}})}}
                                {{ form_errors(form.legalresponsible.email) }}
                            {% endif %}
                        </div>
                        <div class="col-sm-3">
                            {% if form.legalresponsible.telephone is defined %}
                                <label class="lib">{{ form_label(form.legalresponsible.telephone) }}</label>
                                {{ form_widget(form.legalresponsible.telephone, { 'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.legalresponsible.telephone) }}
                            {% endif %}
                        </div>
                    </div>
                    {% if form.legalresponsible.address is defined %}
                        <div class="row form-row">
                            <div class="col-sm-3">
                                <h3 class="lib">Adresse :</h3>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-sm-3">
                                <label class="lib">{{ form_label(form.legalresponsible.address.streetNumber) }}</label>
                                {{ form_widget(form.legalresponsible.address.streetNumber, { 'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.legalresponsible.address.streetNumber) }}
                            </div>
                            <div class="col-sm-3">
                                <label class="lib">{{ form_label(form.legalresponsible.address.streetName) }}</label>
                                {{ form_widget(form.legalresponsible.address.streetName, { 'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.legalresponsible.address.streetName) }}
                            </div>
                            <div class="col-sm-3">
                                <label class="lib">{{ form_label(form.legalresponsible.address.postalcode) }}</label>
                                {{ form_widget(form.legalresponsible.address.postalcode, { 'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.legalresponsible.address.postalcode) }}
                            </div>
                            <div class="col-sm-3">
                                <label class="lib">{{ form_label(form.legalresponsible.address.town) }}</label>
                                {{ form_widget(form.legalresponsible.address.town, { 'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.legalresponsible.address.town) }}
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-sm-3">
                                <label class="lib">{{ form_label(form.legalresponsible.address.flatNumber) }}</label>
                                {{ form_widget(form.legalresponsible.address.flatNumber, { 'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.legalresponsible.address.flatNumber) }}
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
                {% block form_send %}
                    <div>
                        {{ form_widget(form.send, {'attr':{ 'class': 'btn btn-primary'}}) }}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}