{% block stylesheets %}
    {{ encore_entry_link_tags('form') }}
{% endblock %}
{% block form %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="card">
        <div class="card-body">
            <div class="form-container">
            {% block form_body %}
                    <div class="row form-row">
                        <div class="col-sm-3">
                            {% if form.name is defined %}
                                <label class="lib">{{ form_label(form.name) }}</label>
                                {{ form_widget(form.name, { 'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.name, { 'attr': {'class': 'form-control'}}) }}
                            {% endif %}
                        </div>
                        <div class="col-sm-3">
                            {% if form.firstname is defined %}
                                <label class="lib">{{ form_label(form.firstname) }}</label>
                                {{ form_widget(form.firstname, { 'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.firstname, { 'attr': {'class': 'form-control'}}) }}
                            {% endif %}
                        </div>
                        <div class="col-sm-3">
                            {% if form.email is defined %}
                                <label class="lib">{{ form_label(form.email) }}</label>
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control'}})}}
                                {{ form_errors(form.email) }}
                            {% endif %}
                        </div>
                        <div class="col-sm-3">
                            {% if form.telephone is defined %}
                                <label class="lib">{{ form_label(form.telephone) }}</label>
                                {{ form_widget(form.telephone, { 'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.telephone) }}
                            {% endif %}
                        </div>
                    </div>
                    {% if form.address is defined %}
                        <div class="row form-row">
                            <div class="col-sm-3">
                                <h3 class="lib">Adresse :</h3>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-sm-3">
                                <label class="lib">{{ form_label(form.address.streetNumber) }}</label>
                                {{ form_widget(form.address.streetNumber, { 'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.address.streetNumber) }}
                            </div>
                            <div class="col-sm-3">
                                <label class="lib">{{ form_label(form.address.streetName) }}</label>
                                {{ form_widget(form.address.streetName, { 'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.address.streetName) }}
                            </div>
                            <div class="col-sm-3">
                                <label class="lib">{{ form_label(form.address.postalcode) }}</label>
                                {{ form_widget(form.address.postalcode, { 'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.address.postalcode) }}
                            </div>
                            <div class="col-sm-3">
                                <label class="lib">{{ form_label(form.address.town) }}</label>
                                {{ form_widget(form.address.town, { 'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.address.town) }}
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-sm-3">
                                <label class="lib">{{ form_label(form.address.flatNumber) }}</label>
                                {{ form_widget(form.address.flatNumber, { 'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.address.flatNumber) }}
                            </div>
                        </div>
                    {% endif %}
            {% endblock %}
            {% block form_send %}
                <div>
                    {{ form_widget(form.send, {'attr':{ 'class': 'btn btn-primary'}}) }}
                </div>
            {% endblock %}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}