{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block container %}

    {% if staff is defined %}
        {% include 'forms/formStaff.html.twig' %}
    {% endif %}
    {% if teacher is defined %}
        {% include 'forms/TeachingContractForm/formTeacher.html.twig' %}
    {% endif %}
    {% if student is defined %}
        {% include 'forms/RegistrationForm/formStudent.html.twig' %}
    {% endif %}
    {% if legalResponsible is defined %}
        {% include 'forms/formLegalResponsible.html.twig' %}
    {% endif %}
    {% if rh is defined %}
        {% include 'forms/formRh.html.twig' %} {# à faire #}
    {% endif %}
    {% if commonSubject is defined or language is defined or optionalSubject is defined %}
        {% include 'forms/formMatiere.html.twig' %}
    {% endif %}
    {% if equipment is defined %}
        {% include 'forms/formEquipment.html.twig' %}
    {% endif %}
    {% if equipmentType is defined %}
        {% include 'forms/formEquipmentType.html.twig' %}
    {% endif %}
    {% if editMdp is defined %}
        {% include 'forms/formMdp.html.twig' %}
    {% endif %}
    {% if studentSchoolLevel is defined %}
        {% include 'forms/formRegistrationSchoolLevel.html.twig' %}
    {% endif %}

{% endblock %}