{% block form %}
    <div class="card">
        <div class="card-body">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% block form_body %}
        <div class="row">
            <div class="col-sm lib">
                {{ form_label(form.subject.name) }}
                {{ form_widget(form.subject.name) }}
                {{ form_errors(form.subject.name) }}
            </div>

            <div class="col-sm lib">
                {{ form_label(form.schoolLevel) }}
                {{ form_widget(form.schoolLevel) }}
                {{ form_errors(form.schoolLevel) }}
            </div>
            <div class="col-sm-5 lib">
{#                {{ form_label(form.equipments, "Equipement") }}#}
{#                <div class="d-flex" id="divEquipment">#}
{#                    {{ form_widget(form.equipments, {'attr': {'class': 'row-cols-2'}}) }}#}
{#                    {{ form_errors(form.equipments) }}#}
{#                </div>#}
            </div>
        </div>
    {% endblock %}
    {% block form_send %}
        <div class="row">
            <div class="col mt-5">
                {{ form_widget(form.send, {'attr':{ 'class': 'btn btn-primary'}}) }}
            </div>
        </div>
    {% endblock %}
    {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

