{% extends 'base.html.twig' %}
{% block title %}ViewProfile{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table') }}
{% endblock %}
{% block container %}
    <div class="card">
        <div class="card-body">
            <form>
                <div class="profile-container">
                    {% if is_granted("ROLE_SCOLARITE") %}
                        {% if isLegalRespoonsible(user) %}
                            <a type="button" class="btn btn-primary" href="{{ path('legal_responsible_scolarite_modifications', {'idLegalResponsible': user.id, 'route': app.request.attributes.get('_route')}) }}">Modifier</a>
                        {% endif %}
                        {% if isStudent(user) %}
                            <a type="button" class="btn btn-primary" href="{{ path('student_scolarite_re-register', {'idStudent': user.id}) }}">Réinscrire</a>
                            <a type="button" class="btn btn-primary" href="{{ path('student_scolarite_modifications', {'idStudent': user.id, 'route': app.request.attributes.get('_route')}) }}">Modifier</a>
                        {% endif %}
                    {% endif %}
                    {% if is_granted('ROLE_RH') %}
                        {% if (isTeacher(user)) %}
                            <a href="{{ path('teacher_edit', {'teacherId': user.id, 'route': app.request.attributes.get('_route')}) }}" class="btn btn-primary">Modifier</a>
                        {% endif %}
                        {% if isStaff(user) and not isTeacher(user) %}
                            <a href="{{ path('staff_edit', {'staffId': user.id, 'route': app.request.attributes.get('_route')}) }}" class="btn btn-primary">Modifier</a>
                        {% endif %}
                    {% endif %}
                    <div class="row row-profile">
                        <div class="form-group col-sm-3">
                            <label class="lib" for="input-login">Login</label>
                            <input class="form-control answer" id="input-login" value="{{ user.login }}" placeholder="Login" disabled>
                        </div>
                        <div class="form-group col-sm-3">
                            <label class="lib" for="input-nom">Nom</label>
                            <input class="form-control answer" id="input-nom" value="{{ user.name }}" placeholder="Nom" disabled>
                        </div>
                        <div class="form-group col-sm-3">
                            <label class="lib" for="input-prenom">Prénom</label>
                            <input class="form-control answer" id="input-prenom" value="{{ user.firstname }}" placeholder="Prenom" disabled>
                        </div>
                        {% if isStudent(user) and (is_granted("ROLE_SCOLARITE") or is_granted("ROLE_LEGAL_RESPONSIBLE") or is_granted("ROLE_STUDENT")) %}
                            <div class="from-group col-sm-3">
                                <label class="lib" for="input.classe">Classe</label>
                                <input class="form-control answer" id="input.classe" value="{{ inscription.schoolClass.name }} {{ inscription.year }}" placeholder="N/A" disabled>
                            </div>
                            <div class="from-group col-sm-3">
                                <label class="lib" for="input.language">Langue</label>
                                <input class="form-control answer" id="input.language" value="{{ inscription.language.name }}" placeholder="N/A" disabled>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row row-profile">
                        <div class="from-group col-sm-3">
                            <label class="lib" for="input.mail">Mail</label>
                            <input class="form-control answer" id="input.mail" value="{{ user.email }}" placeholder="N/A" disabled>
                        </div>
                        {% if ((isStudent(user) or isLegalRespoonsible(user)) and (is_granted("ROLE_SCOLARITE") or is_granted("ROLE_STUDENT") or is_granted("ROLE_LEGAL_RESPONSIBLE"))) or (isStaff(user) and is_granted("ROLE_RH") or is_granted("ROLE_SCOLARITE") or is_granted("ROLE_DOCUMENTATION")) %}
                        <div class="from-group col-sm-3">
                            <label class="lib" for="input.telephone">Téléphone</label>
                            <input class="form-control answer" id="input.telephone" value="{{ user.telephone }}" placeholder="N/A" disabled>
                        </div>
                    </div>
                        {% if user.address is not null%}
                            <div class="row row-profile">
                                <label class="lib my-2">Adresse : </label>
                                <div class="from-group col-sm-3">
                                    <label class="lib" for="input.adresse.num">Numéro</label>
                                    <input class="form-control answer" id="input.adresse.num" value="{{ user.address.streetNumber }}" placeholder="N/A" disabled>
                                </div>
                                <div class="from-group col-sm-3">
                                    <label class="lib" for="input.adresse.street">Rue</label>
                                    <input class="form-control answer" id="input.adresse.street" value="{{ user.address.streetName }}" placeholder="N/A" disabled>
                                </div>
                                <div class="from-group col-sm-3">
                                    <label class="lib" for="input.adresse.comp">Complément</label>
                                    <input class="form-control answer" id="input.adresse.comp" value="{{ user.address.flatNumber }}" placeholder="N/A" disabled>
                                </div>
                            </div>
                            <div class="row row-profile">
                                <div class="from-group col-sm-3">
                                    <label class="lib" for="input.adresse.depart">Code Postal</label>
                                    <input class="form-control answer" id="input.adresse.depart" value="{{ user.address.postalcode }}" placeholder="N/A" disabled>
                                </div>
                                <div class="from-group col-sm-3">
                                    <label class="lib" for="input.adresse.ville">Ville</label>
                                    <input class="form-control answer" id="input.adresse.ville" value="{{ user.address.town }}" placeholder="N/A" disabled>
                                </div>
                            </div>
                        {% else %}
                            <label class="lib my-2" for="input.adresse">Adresse : </label>
                            <input class="form-control answer" id="input.adresse" placeholder="N/A" disabled>
                        {% endif %}
                    {% endif %}
                    {% if isTeacher(user) %}
                        <div class="row row-profile">
                            <div class="from-group col-sm-3">
                                <label class="lib" for="input.subject">Matières</label>
                                {% if contract is defined %}
                                    <input class="form-control answer" id="input.subject" value="{{ contract.subject.name }}" placeholder="N/A" disabled>
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-3">
                                <label class="lib" for="input.classe">Classes</label>
                                {% for class in contract.schoolClasses %}
                                    {% if is_granted('ROLE_TEACHER') %}
                                        <a class="btn btn-primary" href="{{ path('school_class_show', {'classId': class.id })}}">{{ class.name }}</a>
                                    {% else %}
                                        <label>
                                            <input class="form-control answer my-1" value="{{ class.name }}" disabled>
                                        </label>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if isLegalRespoonsible(user) %}
                        <div class="row row-profile">
                            <div class="form-group col-sm-3">
                                {% for lrs in user.legalResponsibleStudents %}
                                    <a type="button" class="btn btn-primary" id="legal.resp.student" href="{{ path('user_view_profile', {'login': lrs.student.login }) }}">{{ lrs.student.name }} {{ lrs.student.firstname }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if app.user == user %}
                        <div class="row row-profile">
                            <div class="form-group col-sm-3">
                                <a type="button" class="btn btn-primary" id="modif.mdp" href="{{ path('user_edit_password', {'login': user.login }) }}">Modifier mot de passe</a>
                            </div>
                        </div>
                    {% endif %}

            {% if isStudent(user) and (is_granted("ROLE_SCOLARITE") or is_granted("ROLE_LEGAL_RESPONSIBLE") or is_granted("ROLE_STUDENT") or is_granted("ROLE_DOCUMENTATION"))%}
                <div class="row row-profile">
                    <h5 class="col-12">Responsables Légaux
                        {% if user.legalResponsibleStudents.count >= 2 %}
                            <label type="button" class="btn-primary" >
                                <i class="material-icons" disabled>add</i>
                            </label>
                        {% else %}
                            <a type="button" class="btn-primary" href="{{ path('student_add_legalResponsible', {'login': user.login }) }}">
                                <i class="material-icons" >add</i>
                            </a>
                        {% endif %}
                    </h5>
                    <div class="row">
                        <div class="accordion col-3" id="#accordionlr">
                            {% set i = 1 %}
                            {% for lr in user.legalResponsibleStudents %}
                                <div class="accordion-item col-auto">
                                    <h2 class="accordion-header" id="heading{{ lr.legalresponsible.name }}">
                                        <button class="accordion-button collapsed bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ lr.legalresponsible.id }}" aria-expanded="true" aria-controls="collapse{{ lr.legalresponsible.id }}">
                                            n°{{ i }} {{ lr.legalresponsible.name }} {{ lr.legalresponsible.firstname }}
                                        </button>
                                        {% set i = i + 1 %}
                                    </h2>
                                    <div id="collapse{{ lr.legalresponsible.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ lr.legalresponsible.name }}" data-bs-parent="#accordionlr">
                                        <div class="accordion-body row">
                                            <a class="list-group-item col-auto" id="legal.resp" href="{{ path('user_view_profile', {'login': lr.legalresponsible.login }) }}">
                                                <i class="material-icons">edit</i>
                                            </a>
                                            <a class="list-group-item col-auto" href="{{ path('student_del_legalResponsible', {'login' : lr.legalresponsible.login}) }}">
                                                <i class="material-icons">delete</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                {% if not is_granted("ROLE_DOCUMENTATION") %}
                {% endif %}
            {% endif %}
        </div>
    </form>
    {% if isStudent(user) %}
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-end">
                    <label class="lib">Enseignants</label>
                </div>
                <table class="table" data-toggle="table" data-sortable="true" data-search="true">
                    <thead>
                    <tr>
                        <th scope="col" data-sortable="true">Professeurs</th>
                        <th scope="col" data-sortable="true">Matières</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for teachingContract in inscription.schoolClass.contract %}
                        <tr>
                            {% if teachingContract.subject is instanceOfOptionalSubject %}
                                {% for os in inscription.optionalSubjects %}
                                    {% for tc in os.teachingContracts %}
                                        {% if tc == teachingContract %}
                                            <td>{{ teachingContract.teacher.name}}  {{ teachingContract.teacher.firstname}}</td>
                                            <td>{{ teachingContract.subject.name }}</td>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% else %}
                                {% if teachingContract.subject is isInstanceOfLanguage %}
                                    {% if inscription.language == teachingContract.subject %}
                                        <td>{{ teachingContract.teacher.name}}  {{ teachingContract.teacher.firstname}}</td>
                                        <td>{{ teachingContract.subject.name }}</td>
                                    {% endif %}
                                {% else %}
                                    <td>{{ teachingContract.teacher.name}}  {{ teachingContract.teacher.firstname}}</td>
                                    <td>{{ teachingContract.subject.name }}</td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
{#            <div class="col">#}
{#                <div class="d-flex justify-content-end">#}
{#                    <label class="lib">Matériel</label>#}
{#                </div>#}
{#                <table class="table" data-toggle="table" data-sortable="true" data-search="true">#}
{#                    <thead>#}
{#                        <tr>#}
{#                            <th scope="col" data-sortable="true">Intitulé</th>#}
{#                            <th scope="col" data-sortable="true">Prix</th>#}
{#                        </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    {% for equipment in inscription.equipment  %}#}
{#                        <tr>#}
{#                            <td>{{ equipment.title }}</td>#}
{#                            <td>{{ equipment.cost }}</td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
        </div>
    {% endif %}
{% endblock %}