{% extends 'base.html.twig' %}
{% block title %}ViewProfile{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table') }}
{% endblock %}
{% block container %}
<div class="card">
    <div class="card-body">
    <form>
        <div class="profile-container">
            {% if is_granted('ROLE_SCOLARITE') %}
                {% if langue is defined %}
                    <a class="btn btn-primary" href="{{ path('language_edit', {'langueId': isTaught.id, 'route': app.request.attributes.get('_route')}) }}">Modifier</a>
                {% elseif optionalSubject is defined %}
                    <a class="btn btn-primary" href="{{ path('optional_subject_edit', {'optionalSubjectId': isTaught.id, 'route': app.request.attributes.get('_route')}) }}">Modifier</a>
                {% else %}
                    <a class="btn btn-primary" href="{{ path('subject_edit', {'isTaughtId': isTaught.id, 'route': app.request.attributes.get('_route')}) }}">Modifier</a>
                {% endif %}
            {% endif %}
            <div class="row row-profile">
                <div class="form-group col-sm-3">
                    <label class="lib" for="input-id">ID</label>
                    <input class="form-control answer" id="input-id" value="{{ isTaught.id }}" placeholder="Nom" disabled>
                </div>
                <div class="form-group col-sm-3">
                    <label class="lib" for="input-name">Nom de la matière</label>
                    <input class="form-control answer" id="input-name" value="{{ isTaught.subject.name }}" placeholder="Nom" disabled>
                </div>
                <div class="form-group col-sm-3">
                    <label class="lib" for="input-facultatif">Masquée</label>
                    {% if isTaught.subject.disabled == 1 %}
                        <input class="form-control answer" id="input-facultatif" value="Oui" placeholder="Facultatif" disabled>
                    {% else %}
                        <input class="form-control answer" id="input-facultatif" value="Non" placeholder="Facultatif" disabled>
                    {%endif %}
                </div>
                <div class="form-group col-sm-3">
                    <label class="lib">
                        Niveau <br>
                        <input class="form-control answer" value="{{ isTaught.schoolLevel }}" placeholder="Facultatif" disabled>
                    </label>
                    <br>
                </div>
                <div>
                    <label class="lib">Equipments : </label>
                    <br>
                    {% for equipment in isTaught.equipments %}
                        <label>
                            <input class="form-control answer" id="input-equipment{{ equipment.id }}" value="{{ equipment }}" placeholder="Facultatif" disabled>
                        </label>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock %}