{% extends 'base.html.twig' %}
{% block container %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title fw-bold">Type de matériel</h4>
                    <br/>
                    <a class="btn btn-primary my-1" href="{{ path('equipmentType_add') }}">Ajouter un type</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title fw-bold">Matériel</h4>
                    <br/>
                    <a class="btn btn-primary my-1" href="{{ path('equipment_add') }}">Ajouter du matériel</a>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
{% endblock %}