{% extends 'base.html.twig' %}
{% block container %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title fw-bold">Matière du tronc commun</h4>
                    <br/>
                    <a class="btn btn-primary my-1" href="{{ path('subject_create') }}">Ajouter une matière du tronc commun</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title fw-bold">Option</h4>
                    <br/>
                    <a class="btn btn-primary my-1" href="{{ path('optional_subject_create') }}">Ajouter une option</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title fw-bold">Langue</h4>
                    <br/>
                    <a class="btn btn-primary my-1" href="{{ path('language_create') }}">Ajouter une langue</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}