{% extends 'base.html.twig' %}
{% block container %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title fw-bold">Niveau</h4>
                    <br/>
                    <a class="btn btn-primary my-1" href="{{ path('school_level_add') }}">Ajouter un niveau</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title fw-bold">Classe</h4>
                    <br/>
                    <a class="btn btn-primary my-1" href="{{ path('school_class_add') }}">Ajouter une classe</a>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
{% endblock %}