{% extends 'base.html.twig' %}
{% block container %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title fw-bold">Enseignant</h4>
                <br/>
                <a class="btn btn-primary my-1" href="{{ path('teacher_add') }}">Ajouter un enseignant</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title fw-bold">Scolarité</h4>
                <br/>
                <a class="btn btn-primary my-1" href="{{ path('staff_add_scolarite') }}">Ajouter un membre de la scolarité</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title fw-bold">Documentation</h4>
                <br/>
                <a class="btn btn-primary my-1" href="{{ path('staff_add_documentation') }}">Ajouter un documentaliste</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}