{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table') }}
{% endblock %}
{% block container %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-auto align-content-start">
                    <h6 class="fw-bold p-1" style="background-color: #d1e7dd">Activé - le profil est utilisable</h6>
                    <h6 class="fw-bold p-1" style="background-color: #fff3cd">Désactivé - le propriétaire ne peut plus se connecter au profil</h6>
                </div>
            </div>
            <table class="table table-hover"
                   data-toggle="table"
                   data-sortable="true"
                   data-search="true">
                <thead>
                <tr>
                    <th scope="col" data-sortable="true">INE</th>
                    <th scope="col" data-sortable="true">Nom</th>
                    <th scope="col" data-sortable="true">Prenom</th>
                    <th>Mail</th>
                    <th>Téléphone</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    {% if not isStudent(user) and not isLegalRespoonsible(user) %}
                    <tr data-isDeactivated="{{ user.disabled }}">
                        <td></td>
                        <td><a href="{{ path('user_view_profile', {'login': user.login}) }}">{{ user.name }}</a></td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.email }}</td>
                        {% if user.telephone == " " %}
                            <td>{{ user.telephone }}</td>
                        {% else %}
                            <td>Non renseigné</td>
                        {% endif %}
                        {% if isScolarite(user) %}
                            <td>Scolarite</td>
                        {% endif %}
                        {% if isDocumentation(user) %}
                            <td>Documentaliste</td>
                        {% endif %}
                        {% if isTeacher(user) %}
                            <td>Enseignant</td>
                        {% endif %}
                        {% if isRh(user) %}
                            <td>RH</td>
                        {% endif %}
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function (event) {
            let tbody = document.querySelector('tbody')
            let trs = tbody.querySelectorAll('tr')
            trs.forEach(tr => {
                if(tr.dataset.isdeactivated === "1") {
                    tr.classList.add('table-warning')
                }
                else {
                    tr.classList.add('table-success')
                }
            })
        })
    </script>
{% endblock %}
