{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table') }}
{% endblock %}
{% block container %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-auto align-content-start">
                    <h6 class="fw-bold p-1" style="background-color: #d1e7dd">Activé - le profil est utilisable</h6>
                    <h6 class="fw-bold p-1" style="background-color: #fff3cd">Désactivé - le propriétaire ne peut plus se connecter au profil</h6>
                </div>
            </div>
            <table class="table table-hover"
                   data-toggle="table"
                   data-sortable="true"
                   data-search="true">
                <thead>
                <tr>
                    <th scope="col" data-sortable="true">INE</th>
                    <th scope="col" data-sortable="true">Nom</th>
                    <th scope="col" data-sortable="true">Prenom</th>
                    <th>Mail</th>
                    <th>Téléphone</th>
                    <th>Role</th>
                    <th>Année</th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr data-isDeactivated="{{ student.disabled }}">
                        <td>{{ student.ine }}</td>
                        <td><a href="{{ path('user_view_profile', {'login': student.login}) }}">{{ student.name }}</a></td>
                        <td>{{ student.firstname }}</td>
                        <td>{{ student.email }}</td>
                        {% if student.telephone == " " %}
                            <td>{{ student.telephone }}</td>
                        {% else %}
                            <td>Non renseigné</td>
                        {% endif %}
                        <td>Etudiant</td>
                        <td>{{ student.currentRegistration.year }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function (event) {
            let tbody = document.querySelector('tbody')
            let trs = tbody.querySelectorAll('tr')
            trs.forEach(tr => {
                if(tr.dataset.isdeactivated === "1") {
                    tr.classList.add('table-warning')
                }
                else {
                    tr.classList.add('table-success')
                }
            })
        })
    </script>
{% endblock %}