:root{
    --paletteDarkBlue: #1d3557;
    --paletteBlue: #457b9d;
    --paletteCyan: #a8dadc;
    --paletteWhite: #ffffff;
    --paletteRed: #e63946;
}

body{
    background: #F5EFE6;
}
.header {
    font-family: monospace; /* monsera helvetica*/
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
}
.navbar > .dropdown-item {
    font-family: montsera, sans-serif;
}
.nav-breadcrumb {
    background-color: var(--paletteDarkBlue);
}
.nav-link:hover {
    filter: brightness(0.8);
}
.navbar {
    background-color: var(--paletteDarkBlue);
    font-family: monospace;
    font-size: large;
}
.btn {
    background-color: var(--paletteDarkBlue);
    border-color: var(--paletteDarkBlue);
    color: var(--paletteWhite);
    font-family: monospace;
}
.btn-add {
    background-color: var(--paletteBlue);
    border-color: var(--paletteBlue);
    margin-left: 2%;
}
.btn-add:hover {
    background-color: var(--paletteBlue);
    border-color: var(--paletteDarkBlue);
}
.btn-delete{
    background-color: #ffc107;
    border-color: #ffc107;
    color: var(--paletteDarkBlue);
}
.btn-delete:hover {
    background-color: #ffc107;
    border-color: #ffc107;
    color: white;
}
.btn-log {
    background-color: var(--paletteCyan);
    border-color: var(--paletteCyan);
    color: var(--paletteDarkBlue);
    font-family: monospace;
}
.btn-log:hover{
    background-color: var(--paletteCyan);
    border-color: var(--paletteDarkBlue);
    color: var(--paletteDarkBlue);
    font-family: monospace;
}
.card {
    margin: 2%;
}