.form-container {
    position: center;
    margin: 2%;
}
.form-row {
    margin-bottom: 1%;
}
.lib {
    font-family: monospace;
    font-weight: bold;
}
.btn-sender {
    margin: 2%;
    background-color: var(--paletteRed);
    border-color: var(--paletteRed);
}
.required:after {
    content: "*";
    color: red;
}
