body{
    background: var(--paletteWhite);
}
.logSquare {
    background-color: var(--paletteDarkBlue);
    color : var(--paletteWhite);
    background-position: center;
    position: center;
    font-family: monospace;
    text-align: center;
    font-size: larger;
    border-radius: 10%;
    background-size: 100%;
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.btn{
    background-color: var(--paletteWhite);
    border-color: var(--paletteWhite);
    color: black;
}
.btn:hover{
    background-color: var(--paletteWhite);
    color: black;
}
.form-outline {
    margin: 5%;
}