.profile {
    font-family: monospace;
    width: 100%;
}
.profile-container {
    position: center;
    margin: 1%;
}
.row-profile {
    margin-bottom: 1%;
}
.lib {
    font-family: monospace;
    font-weight: bold;
}
.answer {
    color: black;
    font-family: monospace  ;
}
.btn-legal {
    background-color: var(--paletteRed);
    border-color: var(--paletteRed);
}
.btn-note {
    background-color: var(--paletteRed);
    border-color: var(--paletteRed);
}