.table {
    width: 90%;
    text-align: left;
    position: center;
    margin-top: 2%;
}

thead {
    width: 100%;
    font-family: monospace;
    color: var(--paletteWhite);
    font-size: larger;
    background-color: var(--paletteDarkBlue);
}

tbody {
    width: 100%;
    font-size: larger;
    background-color: var(--paletteWhite);
    font-family: monospace;
    border-style: solid;
}
