{% extends 'base.html.twig' %}
{% block container %}
    <div class="card">
        <div class="card-body">
            <h1>Bienvenue {{ app.user.firstname }} {{ app.user.name }}</h1>
            {% if is_granted('ROLE_RH') %}
                <h2>Vous êtes connecté en tant que RH</h2>
            {% endif %}
            {% if is_granted('ROLE_SCOLARITE') %}
                <h2>Vous êtes connecté en tant que Scolarité</h2>
            {% endif %}
            {% if is_granted('ROLE_DOCUMENTATION') %}
                <h2>Vous êtes connecté en tant que Documentaliste</h2>
            {% endif %}
            {% if is_granted('ROLE_TEACHER') %}
                <h2>Vous êtess connecté en tant qu'Enseignant</h2>
            {% endif %}
            {% if is_granted('ROLE_LEGAL_RESPONSIBLE') %}
                <h2>Vous êtes connecté en tant que Résponsable légal</h2>
                <br/>
                <a class="btn btn-primary" href="{{ path('user_show_profile') }}">Voir mon profil</a>
            {% endif %}
            {% if is_granted('ROLE_STUDENT') %}
                <h2>Vous êtes connecté en tant qu'Elève</h2>
                <br/>
                <a class="btn btn-primary" href="{{ path('user_show_profile') }}">Voir mon profil</a>
            {% endif %}
        </div>
    </div>

    {% if is_granted('ROLE_RH') %}
        <div class="row mx-2">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title fw-bold">Rechercher un membre du personnel</h4>
                        <br/>
                        <a class="btn btn-primary" href="{{ path('app_search_user') }}">Rechercher du personnel</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title fw-bold">Consulter les listes de membres du personnel</h4>
                        <br/>
                        <a class="btn btn-primary my-1" href="{{ path('staff_view_all_scolarite') }}">Liste Scolarité</a>
                        <br/>
                        <a class="btn btn-primary my-1" href="{{ path('staff_view_all_documentation')}}">Liste Documentalistes</a>
                        <br/>
                        <a class="btn btn-primary my-1" href="{{ path('teacher_view_all') }}">Liste Enseignants</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title fw-bold">Ajouter un membre du personnel</h4>
                        <br/>
                        <a class="btn btn-primary" href="{{ path('_add_staff') }}">Ajouter un membre du personnel</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if is_granted('ROLE_DOCUMENTATION') %}
        <div class="row mx-2">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title fw-bold">Liste des classes</h4>
                        <br/>
                        <a class="btn btn-primary" href="{{ path('school_class_list') }}">Liste des classes</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title fw-bold">Gestion du matériel</h4>
                        <br/>
                        <a class="btn btn-primary my-1" href="{{ path('equipmentType_view_all') }}">Liste type matériel</a>
                        <br/>
                        <a class="btn btn-primary my-1" href="{{ path('equipment_view_all') }}">Liste matériel</a>
                        <br/>
                        <a class="btn btn-primary mt-5" href="{{ path('_add_equipment') }}">Ajouter du matériel</a>
                    </div>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    {% endif %}
    {% if is_granted('ROLE_SCOLARITE') %}
        <div class="row mx-2">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title fw-bold">Gestion des élèves</h4>
                        <br/>
                        <div class="col">
                            <a class="btn btn-primary my-1" href="{{ path('app_search_student') }}">Rechercher dans l'historique</a>
                            <br/>
                            <a class="btn btn-primary my-1" href="{{ path('student_view_all') }}">Liste élèves</a>
                            <br/>
                            <a class="btn btn-primary my-1" href="{{ path('legal_responsible_view_all', {'currentPage': 1}) }}">Liste responsables légaux</a>
                            <br/>
                            <a class="btn btn-primary mt-5" href="{{ path('student_scolarite_register') }}">Inscrire un élève</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title fw-bold">Gestion des groupes scolaires</h4>
                        <br/>
                        <a class="btn btn-primary my-1" href="{{ path('school_level_list') }}">Liste des niveaux</a>
                        <br/>
                        <a class="btn btn-primary my-1" href="{{ path('school_class_list') }}">Liste des classes</a>
                        <br/>
                        <a class="btn btn-primary mt-5" href="{{ path('_add_group') }}">Ajouter un groupe scolaire</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title fw-bold">Gestion des matières</h4>
                        <br/>
                        <a class="btn btn-primary my-1" href="{{ path('subject_view_all', {'currentPage': 1}) }}">Liste des matières</a>
                        <br/>
                        <a class="btn btn-primary my-1" href="{{ path('language_view_all') }}">Liste des langues</a>
                        <br/>
                        <a class="btn btn-primary my-1" href="{{ path('optional_subject_view_all') }}">Liste des options</a>
                        <br/>
                        <a class="btn btn-primary mt-5" href="{{ path('_add_subject') }}">Ajouter une matière</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if is_granted('ROLE_TEACHER') %}
        <div class="row mx-2">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title fw-bold">Liste de mes classes</h4>
                        <br/>
                        <a class="btn btn-primary my-1" href="{{ path('teacher_voir_classes', {'teacherid': app.user.id} ) }}">Liste de mes classes</a>
                    </div>
                </div>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    {% endif %}


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let links = document.querySelectorAll('.nav-link');
            links.forEach(l => {
                if(l.href === window.location.href) {
                    l.classList.add('text-decoration-underline')
                }
            })
        })
    </script>
{% endblock %}