<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
        {% block navbar %}
            {% if app.request.attributes.get('_route') != 'app_login' %}
                {% include 'navbar.html.twig' %}
            {% endif %}
        {% endblock %}
        {% block displayFlash %}
            <div>
                {% for msg in app.session.flashBag.get('info') %}
                    <div class="alert alert-success">{{ msg }}</div>
                {% endfor %}
                {% for msg in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger">{{ msg }}</div>
                {% endfor %}
            </div>
        {% endblock %}
        {% block container %}
        {% endblock %}
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
