<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="{{ path('accueil') }}">Accueil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link text-light" href="{{ path('user_show_profile') }}">Profil</a>
                {% if not is_granted('ROLE_STUDENT') %}
                    <span class="nav-link text-light"> | </span>
                {% endif %}
                {% if is_granted('ROLE_RH') %}
                    <div class="dropdown">
                        <a class="nav-item nav-link text-light dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestion du personnel
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="{{ path('app_search_user') }}">Rechercher du personnel</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('staff_view_all_scolarite') }}">Liste Scolarité</a></li>
                            <li><a class="dropdown-item" href="{{ path('staff_view_all_documentation') }}">Liste Documentaliste</a></li>
                            <li><a class="dropdown-item" href="{{ path('teacher_view_all') }}">Liste Enseignants</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('_add_staff') }}">Ajouter un membre du personnel</a></li>
                        </ul>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_DOCUMENTATION') %}
                    <a class="nav-link text-light" href="{{ path('school_class_list') }}">Liste des classes</a>
                    <div class="dropdown">
                        <a class="nav-item nav-link text-light dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestion du matériel
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="{{ path('equipmentType_view_all') }}">Liste Type Matériel</a></li>
                            <li><a class="dropdown-item" href="{{ path('equipment_view_all') }}">Liste Matériel</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('_add_equipment') }}">Ajouter du matériel</a></li>
                        </ul>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_STUDENT') %}
                {% endif %}
                {% if is_granted('ROLE_LEGAL_RESPONSIBLE') %}
                {% endif %}
                {% if is_granted('ROLE_SCOLARITE') %}
                    <div class="dropdown">
                        <a class="nav-item nav-link text-light dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestion des élèves
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="{{ path('app_search_student') }}">Rechercher dans l'historique</a></li>
                            <li><a class="dropdown-item" href="{{ path('student_view_all') }}">Liste des élèves</a></li>
                            <li><a class="dropdown-item" href="{{ path('legal_responsible_view_all') }}">Liste des Responsables Légaux</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('student_scolarite_register') }}">Inscrire un élève</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a class="nav-item nav-link text-light dropdown-toggle" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestion des groupes scolaires
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item" href="{{ path('school_level_list') }}">Liste des niveaux</a></li>
                            <li><a class="dropdown-item" href="{{ path('school_class_list') }}">Liste des classes</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('_add_group') }}">Ajouter un groupe scolaire</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a class="nav-item nav-link text-light dropdown-toggle" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestion des Matières
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                            <li><a class="dropdown-item" href="{{ path('subject_view_all') }}">Liste des matières</a></li>
                            <li><a class="dropdown-item" href="{{ path('language_view_all') }}">Liste des langues</a></li>
                            <li><a class="dropdown-item" href="{{ path('optional_subject_view_all') }}">Liste des options</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('_add_subject') }}">Ajouter une matière</a></li>
                        </ul>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_TEACHER') %}
                    <a class="nav-link text-light" href="{{ path('teacher_voir_classes', {'teacherid': app.user.id} ) }}">Liste de mes classes</a>
                {% endif %}
                <span class="nav-link text-light">|</span>
                <a class="nav-link text-light ms-auto" href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        </div>
    </div>
</nav>