{% if currentPage is defined and nbTotalPages > 1 %}


    {% set route = app.request.get('_route') %}

    <div class=" pagi container my-4">
        <nav aria-label="Page navigation" class="navbar navbar-expand-lg justify-content-center h4">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link text-danger" href="{{ path(route,
                        {currentPage: currentPage >= 2 ? currentPage - 1 : 1 }) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% if nbTotalPages > 5 %} {# nombre pages total plus que 5 #}
                    {% if currentPage < nbTotalPages %}
                        {% set currentNext = currentPage + 1 %}
                        {% if currentNext == nbTotalPages %}
                            <a class="page-link text-dark" href="{{ path(route, {'currentPage': currentPage }) }}">{{ currentPage }}</a>
                        {% elseif currentPage == 1 %}
                            {% for i in currentPage..currentNext %}
                                {% if i == currentPage %}
                                    <a class="page-link text-dark" href="{{ path(route, {'currentPage': i }) }}">{{ i }}</a>
                                {% else %}
                                    <a class="page-link text-danger" href="{{ path(route, {'currentPage': i }) }}">{{ i }}</a>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for i in currentPage-1..currentNext %}
                                {% if i == currentPage %}
                                    <a class="page-link text-dark" href="{{ path(route, {'currentPage': i }) }}">{{ i }}</a>
                                {% else %}
                                    <a class="page-link text-danger" href="{{ path(route, {'currentPage': i }) }}">{{ i }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link text-danger text-dark" href="">...</a>
                    </li>
                    <a class="page-link text-danger" href="{{ path(route, {'currentPage': nbTotalPages }) }}">{{ nbTotalPages }}</a>
                {% elseif nbTotalPages > 1 %} {# nombre pages total entre 1 et 5 #}
                    {% for i in 1..nbTotalPages %}
                        <li class="page-item">
                            <a class="page-link text-danger" href="{{ path(route, {'currentPage': i }) }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                {% else %} {# si on a juste une page #}
                    <li class="page-item">
                        <a class="page-link text-danger" href="{{ path(route, {'currentPage': 1 }) }}">{{ 1 }}</a>
                    </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link text-danger"
                       href="{{ path(route, { 'currentPage': currentPage < nbTotalPages ? currentPage + 1 : nbTotalPages  }) }}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endif %}
