{% block stylesheets %}
    {{ encore_entry_link_tags('form') }}
{% endblock %}
{% block form %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% block form_body %}
        <div class="form-container">
            <div class="row form-row">
                <div class="col-sm-3">
                    {% if form.student.name is defined %}
                        <label class="lib">{{ form_label(form.student.name) }}</label>
                        {{ form_widget(form.student.name, { 'attr': {'class': 'form-control'}}) }}
                    {% endif %}
                </div>
                <div class="col-sm-3">
                    {% if form.student.firstname is defined %}
                        <label class="lib">{{ form_label(form.student.firstname) }}</label>
                        {{ form_widget(form.student.firstname, { 'attr': {'class': 'form-control'}}) }}
                    {% endif %}
                </div>
                <div class="col-sm-3">
                    {% if form.student.email is defined %}
                        <label class="lib">{{ form_label(form.student.email) }}</label>
                        {{ form_widget(form.student.email, { 'attr': {'class': 'form-control'}})}}
                        {{ form_errors(form.student.email) }}
                    {% endif %}
                </div>
                <div class="col-sm-3">
                    {% if form.student.telephone is defined %}
                        <label class="lib">{{ form_label(form.student.telephone) }}</label>
                        {{ form_widget(form.student.telephone, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.student.telephone) }}
                    {% endif %}
                </div>
            </div>
            {% if form.student.address is defined %}
                <div class="row form-row">
                    <div class="col-sm-3">
                        <h3 class="lib">Adresse :</h3>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-sm-3">
                        <label class="lib">{{ form_label(form.student.address.streetNumber) }}</label>
                        {{ form_widget(form.student.address.streetNumber, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.student.address.streetNumber) }}
                    </div>
                    <div class="col-sm-3">
                        <label class="lib">{{ form_label(form.student.address.streetName) }}</label>
                        {{ form_widget(form.student.address.streetName, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.student.address.streetName) }}
                    </div>
                    <div class="col-sm-3">
                        <label class="lib">{{ form_label(form.student.address.postalcode) }}</label>
                        {{ form_widget(form.student.address.postalcode, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.student.address.postalcode) }}
                    </div>
                    <div class="col-sm-3">
                        <label class="lib">{{ form_label(form.student.address.town) }}</label>
                        {{ form_widget(form.student.address.town, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.student.address.town) }}
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-sm-3">
                        <label class="lib">{{ form_label(form.student.address.flatNumber) }}</label>
                        {{ form_widget(form.student.address.flatNumber, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.student.address.flatNumber) }}
                    </div>
                </div>

            {% endif %}
        </div>
    {% endblock %}
    {% block form_send %}
        <div>
            {{ form_widget(form.send, {'attr':{ 'class': 'btn btn-primary'}}) }}
        </div>
    {% endblock %}
    {{ form_end(form) }}
{% endblock %}