{% extends 'forms/formUser.html.twig'  %}

{% block form_body %}
    <div class="row form-row">
        <div class="col-sm-3">
            {% if form.ine is defined %}
                <label class="lib" >{{ form_label(form.ine) }}</label>
                {{ form_widget(form.ine, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.ine) }}
            {% endif %}
        </div>
        <div class="col-sm-3">
            {% if form.schoolClass is defined %}
                <label class="lib">{{ form_label(form.schoolClass) }}</label>
                {{ form_widget(form.schoolClass, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.schoolClass) }}
            {% endif %}
        </div>
        <div class="col-sm-3">
            {% if form.language is defined %}
            <label class="lib">{{ form_label(form.language) }}</label>
            {{ form_widget(form.language, { 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.language) }}
            {% endif %}
        </div>
        <div class="col-sm-3">
            {% if form.optionalSubjects is defined %}
                <label class="lib">{{ form_label(form.optionalSubjects) }}</label>
                {{ form_widget(form.optionalSubjects, { 'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.optionalSubjects) }}
            {% endif %}
        </div>
    </div>
    {{ parent() }}
    <div class="form-container">
        {% if form.legalResponsibleStudent1.legalresponsible is defined %}
            {% if form.legalResponsibleStudent2.legalresponsible is defined %}
                <div class="row form-row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="lib">{{ form_label(form.legalResponsibleStudent1.legalresponsible) }}</h3>
                                {% if form.legalResponsibleStudent1.legalresponsible.name is defined %}
                                    <label class="lib">{{ form_label(form.legalResponsibleStudent1.legalresponsible.name) }}</label>
                                    {{ form_widget(form.legalResponsibleStudent1.legalresponsible.name, { 'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.legalResponsibleStudent1.legalresponsible.name) }}
                                {% endif %}
                                {% if form.legalResponsibleStudent1.legalresponsible.firstname is defined %}
                                    <label class="lib">{{ form_label(form.legalResponsibleStudent1.legalresponsible.firstname) }}</label>
                                    {{ form_widget(form.legalResponsibleStudent1.legalresponsible.firstname, { 'attr': {'class': 'form-control'}}) }}
                                {% endif %}
                                {% if form.legalResponsibleStudent1.legalresponsible.email is defined %}
                                    <label class="lib">{{ form_label(form.legalResponsibleStudent1.legalresponsible.email) }}</label>
                                    {{ form_widget(form.legalResponsibleStudent1.legalresponsible.email, { 'attr': {'class': 'form-control'}})}}
                                    {{ form_errors(form.legalResponsibleStudent1.legalresponsible.email) }}
                                {% endif %}
                                {% if form.legalResponsibleStudent1.legalresponsible.telephone is defined %}
                                    <label class="lib">{{ form_label(form.legalResponsibleStudent1.legalresponsible.telephone) }}</label>
                                    {{ form_widget(form.legalResponsibleStudent1.legalresponsible.telephone, { 'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.legalResponsibleStudent1.legalresponsible.telephone) }}
                                {% endif %}
                                {% if form.legalResponsibleStudent1.legalresponsible.address is defined %}
                                    <h3 class="lib">Adresse :</h3>
                                    <label class="lib">{{ form_label(form.legalResponsibleStudent1.legalresponsible.address.streetNumber) }}</label>
                                    {{ form_widget(form.legalResponsibleStudent1.legalresponsible.address.streetNumber, { 'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.legalResponsibleStudent1.legalresponsible.address.streetNumber) }}
                                    <label class="lib">{{ form_label(form.legalResponsibleStudent1.legalresponsible.address.streetName) }}</label>
                                    {{ form_widget(form.legalResponsibleStudent1.legalresponsible.address.streetName, { 'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.legalResponsibleStudent1.legalresponsible.address.streetName) }}
                                    <label class="lib">{{ form_label(form.legalResponsibleStudent1.legalresponsible.address.postalcode) }}</label>
                                    {{ form_widget(form.legalResponsibleStudent1.legalresponsible.address.postalcode, { 'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.legalResponsibleStudent1.legalresponsible.address.postalcode) }}
                                    <label class="lib">{{ form_label(form.legalResponsibleStudent1.legalresponsible.address.town) }}</label>
                                    {{ form_widget(form.legalResponsibleStudent1.legalresponsible.address.town, { 'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.legalResponsibleStudent1.legalresponsible.address.town) }}
                                    <label class="lib">{{ form_label(form.legalResponsibleStudent1.legalresponsible.address.flatNumber) }}</label>
                                    {{ form_widget(form.legalResponsibleStudent1.legalresponsible.address.flatNumber, { 'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.legalResponsibleStudent1.legalresponsible.address.flatNumber) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="lib">{{ form_label(form.legalResponsibleStudent2.legalresponsible) }}</h3>
                                {% if form.legalResponsibleStudent2.legalresponsible.name is defined %}
                                    <label class="lib">{{ form_label(form.legalResponsibleStudent2.legalresponsible.name) }}</label>
                                    {{ form_widget(form.legalResponsibleStudent2.legalresponsible.name, { 'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.legalResponsibleStudent2.legalresponsible.name) }}
                                {% endif %}
                                {% if form.legalResponsibleStudent2.legalresponsible.firstname is defined %}
                                    <label class="lib">{{ form_label(form.legalResponsibleStudent2.legalresponsible.firstname) }}</label>
                                    {{ form_widget(form.legalResponsibleStudent2.legalresponsible.firstname, { 'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.legalResponsibleStudent2.legalresponsible.firstname) }}
                                {% endif %}
                                {% if form.legalResponsibleStudent2.legalresponsible.email is defined %}
                                    <label class="lib">{{ form_label(form.legalResponsibleStudent2.legalresponsible.email) }}</label>
                                    {{ form_widget(form.legalResponsibleStudent2.legalresponsible.email, { 'attr': {'class': 'form-control'}})}}
                                    {{ form_errors(form.legalResponsibleStudent2.legalresponsible.email) }}
                                {% endif %}
                                {% if form.legalResponsibleStudent2.legalresponsible.telephone is defined %}
                                    <label class="lib">{{ form_label(form.legalResponsibleStudent2.legalresponsible.telephone) }}</label>
                                    {{ form_widget(form.legalResponsibleStudent2.legalresponsible.telephone, { 'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.legalResponsibleStudent2.legalresponsible.telephone) }}
                                {% endif %}
                                {% if form.legalResponsibleStudent2.legalresponsible.address is defined %}
                                    <h3 class="lib">Adresse :</h3>
                                    <label class="lib">{{ form_label(form.legalResponsibleStudent2.legalresponsible.address.streetNumber) }}</label>
                                    {{ form_widget(form.legalResponsibleStudent2.legalresponsible.address.streetNumber, { 'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.legalResponsibleStudent2.legalresponsible.address.streetNumber) }}
                                    <label class="lib">{{ form_label(form.legalResponsibleStudent2.legalresponsible.address.streetName) }}</label>
                                    {{ form_widget(form.legalResponsibleStudent2.legalresponsible.address.streetName, { 'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.legalResponsibleStudent2.legalresponsible.address.streetName) }}
                                    <label class="lib">{{ form_label(form.legalResponsibleStudent2.legalresponsible.address.postalcode) }}</label>
                                    {{ form_widget(form.legalResponsibleStudent2.legalresponsible.address.postalcode, { 'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.legalResponsibleStudent2.legalresponsible.address.postalcode) }}
                                    <label class="lib">{{ form_label(form.legalResponsibleStudent2.legalresponsible.address.town) }}</label>
                                    {{ form_widget(form.legalResponsibleStudent2.legalresponsible.address.town, { 'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.legalResponsibleStudent2.legalresponsible.address.town) }}
                                    <label class="lib">{{ form_label(form.legalResponsibleStudent2.legalresponsible.address.flatNumber) }}</label>
                                    {{ form_widget(form.legalResponsibleStudent2.legalresponsible.address.flatNumber, { 'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.legalResponsibleStudent2.legalresponsible.address.flatNumber) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
{% block form_send %}
    <div class="ms-5">
        {{ parent() }}
    </div>
{% endblock %}