{% extends 'base.html.twig' %}
{% block title %}ViewProfile{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table') }}
{% endblock %}
{% block acceuil %}
    {{ parent() }}
{% endblock %}
{% block container %}
    <div class="card">
        <div class="card-body">
            {% set url = app.request.attributes.get('_route') %}
            {% if 'equipmentType_view_all' in url and is_granted('ROLE_DOCUMENTATION') %}
                <a class="btn btn-primary" href="{{ path('equipmentType_add') }}">Ajouter</a>
            {% endif %}
            <table class="table"
                   data-toggle="table"
                   data-search="true"
                   data-sortable="true">
                <thead>
                <tr>
                    <th scope="col" data-visible="false">id</th>
                    <th scope="col" data-sortable="true">Type</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for equipmentType in equipmentTypes %}
                    <tr>
                        {% if equipmentType.id is null %}
                            <td></td>
                        {% else %}
                            <td>{{ equipmentType.id }}</td>
                        {% endif %}

                        {% if equipmentType.type is null %}
                            <td></td>
                        {% else %}
                            <td><a href="{{ path('equipmentType_view_profile', {'id': equipmentType.id}) }}">{{ equipmentType.type }}</a></td>
                        {% endif %}
                        <td><a type="button" class="btn btn-delete" onclick="return confirm('Voulez vous vraiment supprimer definitivement ce type de materiel ?') " href="{{ path('equipmentType_delete', {'id': equipmentType.id}) }}">supprimer</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'pagination.html.twig'%}
        </div>
    </div>
{% endblock %}