{% extends 'base.html.twig' %}
{% block title %}ViewProfile{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table') }}
{% endblock %}
{% block container %}
    <div class="card">
        <div class="card-body">
            <a type="button" class="btn btn-primary"  href="{{ path('equipmentType_edit', {'id': equipmentType.id, 'route': app.request.attributes.get('_route')}) }}">Modifier</a>
            <form>
                <div class="row row-profile">
                    <div class="form-group col-sm-3">
                        <label class="lib" for="input-type">Type</label>
                        <input class="form-control answer" id="input-type" value="{{ equipmentType.type }}" placeholder="Titre" disabled>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}